.content {
    position: relative;
}

.enterRaffleWrapper {
    width: 100%;
    margin: 0 auto;
}

.cta {
    width: 90%;
    margin: 0 auto;
}

.enterRaffle {
    background-color: #0066ff;
    display: block;
    border: none;
    padding: 0.8em 2.15em;
    font-weight: 500;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    border-radius: 7px;
    margin: 0 auto 1.2em auto;
    width: 65%;
    transition: all 0.5s ease;
    border: #0066ff solid 1px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    outline: none;
}

.enterRaffle:hover {
    color: #1c1c1c;
    background-color: white;
}

.getEth {
    border: 1px solid #dfdfdf;
    background-color: white;
    display: block;
    padding: 0.8em 1em;
    font-weight: 500;
    font-family: inherit;
    font-size: 1rem;
    color: #696969;
    border-radius: 7px;
    width: 65%;
    margin: 0 auto;
    transition: all 0.2s ease-out;
    outline: none;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.getEth:hover {
    border: 1px solid #1c1c1c;
}

.warningContainer {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(235, 245, 248);
    border-radius: 7px;
    padding: 0.4em 0em 1em 0em;
    width: 96%;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warningMessage {
    position: relative;
    bottom: 100px;
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 1em;
    color: #696969;
    font-weight: 500;
}

.warning {
    width: 18px;
    position: relative;
    bottom: -3px;
    left: -5px;
}

@media (min-width: 550px) {
    .cta {
        display: flex;
        justify-content: space-between;
        width: 91%;
        margin: 0 auto;
    }

    .getEth,
    .enterRaffle {
        margin: 0;
    }
}

@media (min-width: 600px) {
    .cta {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 auto;
    }
    .getEth,
    .enterRaffle {
        padding: 0.7em;
        width: 90%;
        font-size: 0.8em;
    }
}

@media (min-width: 600px) {
    .cta {
        width: 475px;
    }
}

@media (min-width: 880px) {
    .warningContainer {
        font-size: 1rem;
    }
    .warningContainer p {
        position: relative;
        bottom: -11px;
    }
}

/* ***************************** */

.grid {
    margin-top: 2em;
    margin-bottom: -1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
    margin: 1em;
    padding: 2.5em 2.5em 2.2em;
    border-radius: 7px;
    text-align: center;
    font-weight: 600;
    color: #1c1c1c;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.12);
    border: 1px solid #e8e8e8;
    line-height: 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grey {
    color: #696969;
}

.card p:nth-of-type(1) {
    line-height: 1.4;
    margin: 0;
}

.card p:nth-of-type(2) {
    margin: 0.5em 0 1.5em;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #696969;
}

.description {
    font-size: 1.3rem;
}

.documentation {
    font-size: 1rem;
    font-weight: 500;
    color: #0066ff;
    transition: all 0.3s ease;
}

.documentation img {
    width: 15px;
    position: relative;
    top: 1px;
    left: 3px;
}

.documentation:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.cardStats {
    margin: 0.5em;
    padding: 1.5em 1em 2em;
    border-radius: 7px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.12);
    font-weight: 600;
    font-size: 1.2rem;
    color: #1c1c1c;
    border: 1px solid #e8e8e8;
    line-height: 1.4em;
    text-align: center;
}

.mainLogo {
    width: 60px;
    border-radius: 50%;
    margin: 1em auto 1.5em;
    display: block;
    position: relative;
}

.cardLogos {
    margin: 1em;
    padding: 2em 1.5em 2.7em;
    border-radius: 7px;
    border: 1px solid #e8e8e8;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.12);
    font-weight: 600;
    text-align: center;
}

.logosContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    width: 34px;
    height: 34px;
    background-color: aliceblue;
    padding: 0.1em;
    border-radius: 50%;
    margin: 5px;
}

.logo:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 0.5em;
    }

    .grid div:nth-of-type(1) {
        grid-area: 1 / 1 / 3 / 1;
    }

    .card {
        padding: 2.5em 2em 2em;
    }

    .breakLine::before {
        content: "\a";
        white-space: pre;
    }

    .card p:nth-of-type(2) {
        margin: 0 0 1.5em 0;
        font-size: 1.1rem;
        line-height: 1.4;
        font-weight: 500;
        color: #696969;
    }

    .cardStats {
        padding: 2em;
        text-align: left;
        font-size: 1em;
    }

    .cardStats p {
        margin-bottom: 1.5em;
    }

    .mainLogo {
        margin-top: 3em;
        margin-bottom: 4em;
    }
}

@media (min-width: 800px) {
    .grid {
        margin-bottom: 1em;
    }
    .cardLogos a:nth-of-type(6)::after {
        content: "\a";
        white-space: pre;
    }
    .logo {
        width: 36px;
        height: 36px;
    }
    .cardStats {
        padding: 2.5em 2em 1.5em;
    }
}
