*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    min-width: 290px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}
