.section {
    margin-top: -1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    font-size: 2.2em;
    text-justify: auto;
    font-family: "Inter Tight", sans-serif;
    font-weight: 900;
}

.subtitle {
    margin-top: -0.5em;
    font-weight: 500;
    color: #696969;
}

.sectionEnter {
    width: 100%;
}

@media (min-width: 550px) {
    .sectionEnter {
        display: flex;
        max-width: 80%;
        margin-top: 1em;
    }
    .title {
        font-size: 2.7em;
    }
}

@media (min-width: 800px) {
    .title {
        font-size: 3em;
    }
    .section {
        margin-bottom: 1em;
    }
}
