.navbar {
    padding: 1em 0em 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-weight: 900;
    margin-top: 0;
    color: black;
    font-size: 0.95rem;
    font-family: "Aboreto", sans-serif;
}

.connectButton {
    color: white;
}

.connectButton button {
    display: block;
    margin-top: 0;
}

.connectButton span {
    font-size: 0.8rem;
    padding: 0em 0.1em;
    font-family: "Inter Tight", sans-serif;
}

@media (min-width: 850px) {
    .navbar {
        padding: 1em 2em 1em 3em;
    }
}

@media (min-width: 1000px) {
    .navbar {
        padding: 1em 6.5em 1em 7.5em;
    }
}
