.container {
    position: fixed;
    z-index: 10;
}

.top-right {
    top: 5rem;
    right: 1rem;
    animation: toast-in-top 0.6s;
}

.notification {
    border: 2px #2f80fa solid;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.12);
    position: relative;
    border-radius: 7px;
    transition: 0.3s ease;
    padding: 0 1.5em;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 0.15em 0.4em 0.15em 0em;
}

.xmark {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 0;
    padding: 0.25em;
    cursor: pointer;
    border-top-right-radius: 7px;
    opacity: 0.9;
}

.xmark:hover {
    background-color: rgb(250, 250, 250);
}

.xmark:active {
    opacity: 1;
}

.tickmark {
    width: 15px;
    height: 15px;
}

.text {
    font-size: 0.9rem;
    font-weight: 400;
}

.button {
    display: block;
    transform: translateX(500px);
}

@media (min-width: 850px) {
    .top-right {
        right: 3rem;
    }
}

@media (min-width: 1050px) {
    .top-right {
        right: 5rem;
    }
}

@media (min-width: 1300px) {
    .top-right {
        right: 8rem;
    }
}

@keyframes toast-in-top {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
